<!DOCTYPE  html >

    <html>
        <head>
           
            <meta charset="utf-8"> 

            <title>WishRoll</title>

            <meta name="description" content="An app with an unlimited collection of reaction media, and a place for fun groupchats about interesting topics.">

            <meta name="viewport" content="width=device-width">

            <meta name="keywords" content="wishroll, memes, memes 2020, twitter memes, funny coronavirus memes, stonks memes, ight imma head out memes, epstein memes, corona virus memes, coronavirus twitter, funny memes 2020">

            <meta name="author" content="WishRoll Team">
            
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            <%= stylesheet_link_tag "mainstylesheet.css" %>
            <%= favicon_link_tag "wishrollfavicon.png"%>
            

        </head>

        <body>

            <header>

                <div class="container">
                    <div id="branding">
                        <h1><span class="highlight">WishRoll</span></h1>
                    </div>
                <nav>
                    <ul>
                        <li class="current" ><a >Download</a></li>
                        <li><a><%= link_to "What is WishRoll?", "/what-is-wishroll" %> </a></li>
                        <li><a><%= link_to "Contact", "/contact" %> </a></li>
                    </ul>
                </nav>
                </div>
                </header>
        
                    
                <section id="showcase">
                    <div class="container">
                        <h1>Express Yourself</h1>
                        <p>The Biggest Collection of Reaction Media Ever.</p>
                        

                    </div>
            
                </section>          
                
                <section id="newsletter">
                    <div class="container">
                        <h1>Try WishRoll. Available on the Appstore.</h1>

                        <div class="download">
                        <%= link_to image_tag("AppIconShadow.png")%>
                        <%=link_to image_tag("downloadappstoreweb.png"), "https://apps.apple.com/us/app/wishroll-express-yourself/id1491280186"%>

                        </div>
                        <!-- What The tutorial guy was saying I should type -->
                        <!--
                        <form>
                            <input type= "email" placeholders="Enter Email...">  
                    
                        
                        <button type="submit" class="button_1">Subscribe</button>
                        </form>  
                        I will be adding the download button instead, not sure how I will yet but its gonna happen folks
                        -->
                    

                    </div>
                
                </section>

                <section id="boxes">
                    <div class="container">

                        <div class="box">
                            <%= image_tag("ProfileBox.png")%>
                            <h3>Upload</h3>
                            <p>Have a camera roll filled with reaction media? Move it to WishRoll and save your storage.</p>
                        </div>

                        <div class="box">
                        <%= image_tag("ChatBox.png")%>
                            <h3>Chat</h3>

                            <p>Your groupchat is boring. We know. Join one of ours. Or all of them. Talk about ANYTHING and start conversations.</p>
                            </div>

                        <div class="box">
                        <%= image_tag("SearchBox.png")%>
                            <h3>Search</h3>
                            <p>Thinking of that perfect reaction? We have it for you. Right here</p>

                        </div>
                    
                    </div>
                
                </section>

            

           


            <footer>
            <p>WishRoll &copy; 2020</p>
            </footer>
            
        </body>
</html>






</html>