<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WishRoll</title>
        <meta name="keywords" content="WishRoll, Reaction pics">

        <meta name="description" content="Bond over the things you loce, powered by your Camera Roll.">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
        <%= stylesheet_link_tag 'mainstylesheet' %>

        <link rel="icon" type="image/png" href="Media/favicon.png" />    
        <%= favicon_link_tag "wishrollfavicon.png" %>
        

    </head>

    <body>
   
    <!-- navigation bar -->
    <header id="menuBarB" style="background: #16a2ef;" >
        <a>
            <h3 class="logoMenu">WishRoll</h3>
        </a>
         <a class="menuItem" > <%= link_to "Community Guidelines", "/what-is-wishroll", :style=> 'color:#ffffff;' %> </a>
              
        
    </header>  





<div class="centerContainer">
    <!-- rest of body content -->

    <div class="photoAlbum">
        <div class="photoAlbumAnimation">
            
        </div>

        <div class="textPortion">
            <div class="photoAlbumTitle">
                Recents
                
            </div>
            <div class="photoAlbumCounter">
                123,234
            </div>
        </div>
    </div>


    <div class="tagline">
        <strong>Bond over the stuff you love,</strong> <br> powered by your Camera Roll.
    </div>

    <div class="callToAction">
        <div class="button">
                Download on iOS
        </div>
        <div class="androidText">
            Coming Soon to Android
        </div>
    </div>

   

</div>



<footer id="flexFooter"  >
<div class="footerCol">
    <a>
        <h3 style="color: black; font-weight: 600;">WishRoll</h3>
    </a>
    <small>© 2021 WishRoll</small>
</div>

<div class="footerCol">
    <h3 style="color: black; font-weight: 600;" >Policy</h3>
    
    <div class="footerLink">
        
        <a><%= link_to "Privacy Policy", "/privacy" %></a> 
       
    </div>
    <div class="footerLink">
        
        <a><%= link_to "Terms of Service", "/terms" %></a> 
    </div>

    <div class="footerLink">
       <a><%= link_to "Community Guidelines", "/what-is-wishroll" %></a> 
    </div>
</div>
  
  <div class="footerCol">
      <h3 style="color: black; font-weight: 600;" >Find us on</h3>
      <div class="footerLink">
          <a href="https://www.instagram.com/wishroll/" target="_blank">Instagram</a>
      </div>
      <div class="footerLink">
          <a href="https://www.twitter.com/wishroll/" target="_blank">Twitter</a>
      </div>
      <div class="footerLink">
          <a href="https://www.tiktok.com/@wishroll?lang=en" target="_blank">TikTok</a>
      </div>
  </div>

  <div class="footerCol">
    <h3 style="color: black; font-weight: 600;" >Contact Us</h3>
    <div class="footerLink">
        <a href="" target="_blank">info@wishroll.co</a>
  
    </div>
</div>
</footer>

</html>
    

      


  