<!DOCTYPE  html >

    <html>
        <head>
           
            <meta charset="utf-8"> 

            <title>WishRoll</title>

            <meta name="description" content="WishRoll App">

            <meta name="viewport" content="width=device-width">

            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <meta name="keywords" content="wishroll, memes, reaction pictures, reaction videos">

            <meta name="author" content="WishRoll Team">
            
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <%# <link rel="stylesheet" href="Landing.css"> %>

            <%= stylesheet_link_tag "Landing.css" %> 

            <%= favicon_link_tag "wishrollfavicon.png"%> 
            

        </head>

        <body>

            <div id="section1">

                <div class="center">
                    
                        <h2>WishRoll</h2>
                        <h1>candid self expression.</h1>
                    


                   
                </div>

                <div class="lower">
                    <a href=#section2><h3>We're still in Beta, but this is what we've been up to...</h3></a>
            
                    
                    <a href="#section2"><%= image_tag("Icon_down_outline-2.png",:size => "50x50")%></a>

                </div>

            </div>

            <div id="section2">
                <div class="center2">
                    
                    <h1>What we're building:</h1>
                 
                  
                     
                        <ul>
                            <li>We're building a platform to allow people to express themselves <br> using short video messages</li>
                            
                            

                        </ul>
                </div>  

                

            </div>

                    
                

                

                   

               
                
               

                

            

           


        <div id="section3">
            
                <div id="left">
                    <h3>Come say hi:</h3>
                    <a href="http://www.instagram.com/wishroll" target="_blank"><%= image_tag("instagram.png",:size => "30x30", :style =>"padding: 5px;")%></a>
                    <a href="http://www.twitter.com/wishroll" target="_blank" ><%= image_tag("twitter.png",:size => "30x30")%></a>
                    <a href="http://vm.tiktok.com/ZMJK1X8cx/" target="_blank" ><%= image_tag("tiktok.png",:size => "30x30")%></a>
                     
        

                </div>



                <div id="right">
                    <h3>Contact Us:</h3>
                    <p>info@wishroll.co</p>

                </div>
           
        </div>

    </body> 
    
    
        
</html>

