<!DOCTYPE  html >

    <html>
        <head>
           
            <meta charset="utf-8"> 

            <title>WishRoll</title>

            <meta name="description" content="An app with an unlimited collection of reaction media, and a place for fun groupchats about interesting topics.">

            <meta name="viewport" content="width=device-width">

            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <meta name="keywords" content="wishroll, memes, memes 2020, twitter memes, funny coronavirus memes, stonks memes, ight imma head out memes, epstein memes, corona virus memes, coronavirus twitter, funny memes 2020">

            <meta name="author" content="WishRoll Team">
            
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            

            <%= stylesheet_link_tag "contact.css"%> 

            <%= favicon_link_tag "wishrollfavicon.png"%>
           
            

        </head>


        <body>

            <nav>
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i> 
                </label>

                <label class="logo">WishRoll <a><%= image_tag("wishrollfavicon.png")%></a></label>

                <ul>
                    <li><a><%= link_to "Download", "/home" %></a></li>           
                    <li><a><%= link_to "What is WishRoll?", "/what-is-wishroll" %></a></li>
                    <li><a class="current" >Contact</a></li>
                </ul>

            </nav>


            


            <div class="contact-form" >
                <h1>Contact Us</h1>
                <h2>great@wishroll.co</h2>


            
            
            </div>
            

           

                


            <footer>
                <p>WishRoll &copy; 2020 </p>
                <p><a href="www.google.com">Privacy Policy</a> <a href="www.google.com"> Terms and Conditions</a> <a href="www.google.com"> Policy Terms</a></p>
            </footer>
            
           
        </body>
    </html>
